
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Procedimento</h3>
	</div>
	<form ng-if="form" name="formProcedimento">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		<div class="form-group" ng-class="{'has-error':formProcedimento.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.Procedimento.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formProcedimento.nome.$error.required">Campo requerido!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':formProcedimento.descricao.$invalid}">
			<label class="control-label">Descrição</label>
			<textarea name="descricao" required class="form-control" ng-model="form.Procedimento.descricao">
			</textarea>
			<div class="help-block">&nbsp;
				<span ng-if="formProcedimento.descricao.$error.required">Campo requerido!</span>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formProcedimento" type="submit" ng-disabled="formProcedimento.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
