<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Status</h3>
	</div>
	<div ng-if="data.length==0" class="panel-body">
		<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Nome</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<div class="btn-group">
				<a href="#/status/edit/{{item.Status.id}}" class="btn btn-default">
					<i class="fa fa-2x fa-edit"></i>
				</a>
				<button ng-click="del(item)" class="btn btn-default">
					<i class="fa fa-2x fa-trash"></i>
				</button>
				</div>
			</td>
			<td>{{item.Status.nome}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/status/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
