
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Ata de Preço</h3>
	</div>
	<form ng-if="form" name="formAtaPreco">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		<div class="form-group" ng-class="{'has-error':formAtaPreco.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.AtaPreco.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formAtaPreco.nome.$error.required">Campo requerido!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':formAtaPreco.data.$invalid}">
			<label class="control-label">Data</label>
			<input name="data" required class="form-control" type="date" ng-model="form.AtaPreco.data">
			<div class="help-block">&nbsp;
				<span ng-if="formAtaPreco.data.$error.required">Campo requerido!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':formAtaPreco.edital_id.$invalid}">
			<label class="control-label">Edital</label>
			<select ng-options="item.Edital.id as item.Edital.numero for item in related.Editais" name="edital_id" required class="form-control" ng-model="form.AtaPreco.edital_id">
				<option value="">Escolha o Edital</option>
			</select>
			<div class="help-block">&nbsp;
				<span ng-if="formAtaPreco.edital_id.$error.required">Campo requerido!</span>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formAssunto" type="submit" ng-disabled="formAssunto.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
