<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Contato</h3>
	</div>
	<div class="panel-body">

		<div class="form-group">
			<label class="control-label">Contato</label>
			<select ng-change="contatoSelect(form.Chamada.contato_id)" ng-options="item.Contato.id as item.Contato.nome for item in related.ContatosInstForn" name="contato_id" required class="form-control" ng-model="form.Chamada.contato_id">
				<option value="">Selecione o Contato</option>
			</select>
		</div>

	</div>
</div>
