<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Dados do Contato</h3>
	</div>
	<div class="panel-body" ng-if="contatoSetNew">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Nome</label>
					<input type="text" ng-model="newContato.nome" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>CPF</label>
					<input type="text" ng-model="newContato.cpf" class="form-control">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Nascimento</label>
					<input type="date" ng-model="newContato.data_nascimento" class="form-control">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Sexo</label>
					<select ng-options="item.Sexo.id as item.Sexo.nome for item in related.Sexos" ng-model="newContato.sexo_id" class="form-control">
						<option value="">Escolha uma opção</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>Situação do Contato</label>
					<select ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacoesContatos" ng-model="newContato.situacao_contato_id" class="form-control">
						<option value="">Escolha uma opcão</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Cargo</label>
					<select ng-options="item.Cargo.id as item.Cargo.nome for item in related.Cargos" ng-model="newContato.cargo_id" class="form-control">
						<option value="">Escolha uma opção</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Situação do Cargo</label>
					<select ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacoesContatos" ng-model="newContato.situacao_contatocargo_id" class="form-control">
						<option value="">Escolha uma opcão</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Início</label>
					<input type="date" ng-model="newContato.data_inicio" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Fim</label>
					<input type="date" ng-model="newContato.data_fim" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body" ng-if="contatoSetFind">
		<div class="form-group">
			<label class="control-label">Pesquise pelo nome</label>
			<input 
				type="text" 
				ng-model="newContato.contatoSelected" 
				typeahead-min-length="3" 
				typeahead-on-select="newContatoSelect($item)" 
				typeahead-editable="false" 
				typeahead="item.Contato.nome+' - '+item.Contato.cpf for item in typeContato($viewValue) | filter:$viewValue | limitTo:20" 
				class="form-control">
			<div class="help-block">&nbsp;
				<span>Digite parte do nome do Contato</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Cargo</label>
					<select ng-options="item.Cargo.id as item.Cargo.nome for item in related.Cargos" ng-model="newContato.cargo_id" class="form-control">
						<option value="">Escolha uma opção</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Situação do Cargo</label>
					<select ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacoesContatos" ng-model="newContato.situacao_contatocargo_id" class="form-control">
						<option value="">Escolha uma opcão</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Início</label>
					<input type="date" ng-model="newContato.data_inicio" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Início</label>
					<input type="date" ng-model="newContato.data_fim" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body" ng-if="contatoSetData">
		<table class="table">
			<tr>
				<td>{{form.Contato.nome}}</td>
				<td><button ng-click="changeContato()" type="button" class="btn btn-default pull-right">Alterar</button></td>
			</tr>
		</table>
		<tabset type="pills">
			<tab heading="Telefones">
				<table class="table table-condensed">
					<tr>
						<th>Tipo</th>
						<th>Telefone</th>
						<th>&nbsp;</th>
					</tr>
					<tr ng-repeat="item in ContatoFones">
						<td>
							<span editable-select="item.ContatosFone.tipo_fone_id" e-name="tipo_fone_id" e-form="rowForm" e-ng-options="item.TiposFone.id as item.TiposFone.nome for item in related.TipoFones">
							{{showTipoFone(item)}}
							</span>
						</td>
						<td>
							<span editable-text="item.ContatosFone.fone" e-name="fone" e-form="rowForm">
							{{item.ContatosFone.fone}}
							</span>
						</td>
						<td>
							<form editable-form name="rowForm" onbeforesave="saveFone($data, item, form.Chamada.contato_id)" ng-show="rowForm.$visible" class="form-buttons form-inline clearfix" shown="inserted == item">
								<div class="btn-group pull-right">
									<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
										<i class="fa fa-save"></i>
									</button>
									<button type="button" ng-disabled="rowform.$waiting" ng-click="rowForm.$cancel()" class="btn btn-sm btn-default">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</form>
							<div class="buttons clearfix" ng-show="!rowForm.$visible">
								<div class="btn-group pull-right">
									<button class="btn btn-sm btn-primary" ng-click="rowForm.$show()"><i class="fa fa-edit"></i></button>
									<button class="btn btn-sm btn-danger" ng-click="removeFone($index, item)"><i class="fa fa-trash"></i></button>
								</div>
							</div>  
						</td>
					</tr>
					<tr>
						<td colspan="3" class="clearfix">
							<button ng-click="addContatoFone()" class="btn btn-sm btn-primary pull-right" tooltip="Novo Telefone">
								<i class="fa fa-plus"></i>
							</button>
						</td>
					</tr>
				</table>
			</tab>
			<tab heading="Emails">
				<table class="table table-condensed">
					<tr>
						<th>Tipo</th>
						<th>Email</th>
						<th>&nbsp;</th>
					</tr>
					<tr ng-repeat="item in ContatoEmails">
						<td>
							<span editable-select="item.ContatosEmail.tipo_email_id" e-name="tipo_email_id" e-form="rowForm" e-ng-options="item.TiposEmail.id as item.TiposEmail.nome for item in related.TipoEmails">
							{{showTipoEmail(item)}}
							</span>
						</td>
						<td>
							<span editable-text="item.ContatosEmail.email" e-name="email" e-form="rowForm">
							{{item.ContatosEmail.email}}
							</span>
						</td>
						<td>
							<form editable-form name="rowForm" onbeforesave="saveEmail($data, item, form.Chamada.contato_id)" ng-show="rowForm.$visible" class="form-buttons form-inline clearfix" shown="inserted == item">
								<div class="btn-group pull-right">
									<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
										<i class="fa fa-save"></i>
									</button>
									<button type="button" ng-disabled="rowform.$waiting" ng-click="rowForm.$cancel()" class="btn btn-sm btn-default">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</form>
							<div class="buttons clearfix" ng-show="!rowForm.$visible">
								<div class="btn-group pull-right">
									<button class="btn btn-sm btn-primary" ng-click="rowForm.$show()"><i class="fa fa-edit"></i></button>
									<button class="btn btn-sm btn-danger" ng-click="removeEmail($index, item)"><i class="fa fa-trash"></i></button>
								</div>
							</div>  
						</td>
					</tr>
					<tr>
						<td colspan="3" class="clearfix">
							<button ng-click="addContatoEmail()" class="btn btn-sm btn-primary pull-right" tooltip="Novo Email">
								<i class="fa fa-plus"></i>
							</button>
						</td>
					</tr>
				</table>
			</tab>
			<tab ng-if="form.Chamada.instituicao_id" heading="Cargos">
				<table class="table table-condensed">
					<tr>
						<th>Cargo</th>
						<th>Situação</th>
						<th>Início</th>
						<th>Fim</th>
						<th>&nbsp;</th>
					</tr>
	
					<tr ng-repeat="item in ContatoCargosInst">
						<td>
							<span editable-select="item.ContatosInstituicao.cargo_id" e-name="cargo_id" e-form="rowForm" e-ng-options="item.Cargo.id as item.Cargo.nome for item in related.Cargos">
							{{showCargoInst(item)}}
							</span>
						</td>
						<td>
							<span editable-select="item.ContatosInstituicao.situacao_contato_id" e-name="situacao_contato_id" e-form="rowForm" e-ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacoesContatos">
							{{showSituacaoContatoInst(item)}}
							</span>
						</td>
						<td>
							<span editable-date="item.ContatosInstituicao.data_inicio" e-name="data_inicio" e-form="rowForm">
							{{item.ContatosInstituicao.data_inicio|date}}
							</span>
						</td>
						<td>
							<span editable-date="item.ContatosInstituicao.data_fim" e-name="data_fim" e-form="rowForm">
							{{item.ContatosInstituicao.data_fim|date}}
							</span>
						</td>
						<td>
							<form editable-form name="rowForm" onbeforesave="saveCargoInst($data, item, form.Chamada.contato_id, form.Chamada.instituicao_id)" ng-show="rowForm.$visible" class="form-buttons form-inline clearfix" shown="inserted == item">
								<div class="btn-group pull-right">
									<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
										<i class="fa fa-save"></i>
									</button>
									<button type="button" ng-disabled="rowform.$waiting" ng-click="rowForm.$cancel()" class="btn btn-sm btn-default">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</form>
							<div class="buttons clearfix" ng-show="!rowForm.$visible">
								<div class="btn-group pull-right">
									<button class="btn btn-sm btn-primary" ng-click="rowForm.$show()"><i class="fa fa-edit"></i></button>
									<button class="btn btn-sm btn-danger" ng-click="removeCargoInst($index, item)"><i class="fa fa-trash"></i></button>
								</div>
							</div>  
						</td>
					</tr>
					<tr>
						<td colspan="5" class="clearfix">
							<button ng-click="addCargoInst()" class="btn btn-sm btn-primary pull-right" tooltip="Novo Cargo">
								<i class="fa fa-plus"></i>
							</button>
						</td>
					</tr>
				</table>
			</tab>
			<tab ng-if="form.Chamada.fornecedor_id" heading="Cargos">
				<table class="table table-condensed">
					<tr>
						<th>Cargo</th>
						<th>Situação</th>
						<th>Início</th>
						<th>Fim</th>
						<th>&nbsp;</th>
					</tr>
	
					<tr ng-repeat="item in ContatoCargosForn">
						<td>
							<span editable-select="item.ContatosFornecedor.cargo_id" e-name="cargo_id" e-form="rowForm" e-ng-options="item.Cargo.id as item.Cargo.nome for item in related.Cargos">
							{{showCargoForn(item)}}
							</span>
						</td>
						<td>
							<span editable-select="item.ContatosFornecedor.situacao_contato_id" e-name="situacao_contato_id" e-form="rowForm" e-ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacoesContatos">
							{{showSituacaoContatoForn(item)}}
							</span>
						</td>
						<td>
							<span editable-date="item.ContatosFornecedor.data_inicio" e-name="data_inicio" e-form="rowForm">
							{{item.ContatosFornecedor.data_inicio|date}}
							</span>
						</td>
						<td>
							<span editable-date="item.ContatosFornecedor.data_fim" e-name="data_fim" e-form="rowForm">
							{{item.ContatosFornecedor.data_fim|date}}
							</span>
						</td>
						<td>
							<form editable-form name="rowForm" onbeforesave="saveCargoForn($data, item, form.Chamada.contato_id, form.Chamada.fornecedor_id)" ng-show="rowForm.$visible" class="form-buttons form-inline clearfix" shown="inserted == item">
								<div class="btn-group pull-right">
									<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary">
										<i class="fa fa-save"></i>
									</button>
									<button type="button" ng-disabled="rowform.$waiting" ng-click="rowForm.$cancel()" class="btn btn-sm btn-default">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</form>
							<div class="buttons clearfix" ng-show="!rowForm.$visible">
								<div class="btn-group pull-right">
									<button class="btn btn-sm btn-primary" ng-click="rowForm.$show()"><i class="fa fa-edit"></i></button>
									<button class="btn btn-sm btn-danger" ng-click="removeCargoForn($index, item)"><i class="fa fa-trash"></i></button>
								</div>
							</div>  
						</td>
					</tr>
					<tr>
						<td colspan="5" class="clearfix">
							<button ng-click="addCargoForn()" class="btn btn-sm btn-primary pull-right" tooltip="Novo Cargo">
								<i class="fa fa-plus"></i>
							</button>
						</td>
					</tr>
				</table>
			</tab>
		</tabset>
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right" ng-if="contatoSetData">
			<button ng-disabled="!form.Chamada.fornecedor_id && !form.Chamada.instituicao_id" ng-click="newContactChamada()" class="btn btn-default">Novo Contato</button>
			<button ng-disabled="!form.Chamada.fornecedor_id && !form.Chamada.instituicao_id" ng-click="addContactChamada()" class="btn btn-default">Adicionar Contato Existente</button>
		</div>
		<div class="btn-group pull-right" ng-if="contatoSetNew">
			<button ng-click="contatoSetSaveNew()" class="btn btn-default">Adicionar</button>
			<button ng-click="contatoSetDataForm()" class="btn btn-default">Cancelar</button>
		</div>
		<div class="btn-group pull-right" ng-if="contatoSetFind">
			<button ng-click="contatoSetSaveFind()" class="btn btn-default">Adicionar</button>
			<button ng-click="contatoSetDataForm()" class="btn btn-default">Cancelar</button>
		</div>
	</div>
</div>
