<div class="clearfix">
	<div class="btn-group pull-right">
		<button tooltip="Filtrar" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
			<i class="fa fa-filter"></i>
			Filtros
		</button>
	</div>
</div>
<hr>
	<div collapse="!isCollapsed">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Filtros</h3>
			</div>
			<div class="panel-body">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Projeto</label>
							<select ng-change="filtersApply()" ng-options="item.Projeto.id as item.Projeto.nome for item in projetosListing" ng-model="filtro.projeto_id" class="form-control" name="projeto_id" placeholder="Projeto">
								<option value="">Qualquer Projeto</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Instituição</label>
							<input ng-change="filtersApply()" ng-model="filtro.Inst" class="form-control" type="text" name="instituicao">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Fornecedor</label>
							<input ng-change="filtersApply()" ng-model="filtro.Forn" class="form-control" type="text" name="fornecedor">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Atendente</label>
							<input ng-change="filtersApply()" ng-model="filtro.atendente" class="form-control" type="text" name="atendente">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Assunto</label>
							<select ng-change="filtersApply()" ng-options="item.Assunto.id as item.Assunto.nome for item in assuntosListing" ng-model="filtro.assunto_id" class="form-control" name="assunto_id" placeholder="Assunto">
								<option value="">Qualquer Assunto</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Situação</label>
							<select ng-change="filtersApply()" ng-model="filtro.finalizado" class="form-control" name="finalizado" placeholder="Assunto">
								<option value="1">Qualquer</option>
								<option value="2">Não Finalizado</option>
								<option value="3">Finalizado</option>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="control-label">Data Início</label>
							<input type="date" ng-change="filtersApply()" ng-model="filtro.DataIni" class="form-control" type="text" name="dataini">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="control-label">Data Final</label>
							<input type="date" ng-change="filtersApply()" ng-model="filtro.DataFim" class="form-control" type="text" name="datafim">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="control-label">Filhas</label>
							<select ng-change="filtersApply()" ng-model="filtro.filhas" class="form-control" name="filhas">
								<option value="1">Todas</option>
								<option value="2">Com filhas</option>
								<option value="3">Sem filhas</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="btn-group pull-right">
					<button ng-click="zerarPesquisa()" class="btn btn-default">Zerar</button>
					<button ng-click="pesquisar()" class="btn btn-primary">Pesquisar</button>
				</div>
			</div>
		</div>
	</div>
	