<div class="modal-header">
	<button ng-click="cancelar()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Finalizar Chamada</h3>
	</div>
	<div class="modal-body">
		
		<form name="finalizarChamada" class="form">
			<div class="form-group">
				<label class="control-label">Data</label>
				<div class="col-md-12 well">
					<p class="form-control-static">{{finalizarForm.data_fim | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Status</label>
				<select required ng-options="item.Status.id as item.Status.nome for item in status" class="form-control" ng-model="finalizarForm.status_id" name="status">
					<option value="">Escolha um Status</option>
				</select>
			</div>
		</form>
		
	</div>
	<div class="modal-footer">
	<button ng-disabled="finalizarChamada.$invalid" class="btn btn-primary" ng-click="finalizar()">Finalizar</button>
	<button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
</div>