<div class="page-header">
	<h3>{{pageTitle}}</h3>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<ng-include ng-if="(!form.Chamada.id && !form.Chamada.chamada_id) && InstForn == 'Inst'" src="'/admin/app/chamada/instituicao.html?cache='+date()"></ng-include>
				<ng-include ng-if="(!form.Chamada.id && !form.Chamada.chamada_id) && InstForn == 'Forn'" src="'/admin/app/chamada/fornecedor.html?cache='+date()"></ng-include>
				<ng-include ng-if="!form.Chamada.contato_id || (!form.Chamada.id && !form.Chamada.chamada_id)" src="'/admin/app/chamada/contato.html'"></ng-include>
			</div>
		</div>
		
		<div ng-if="!form"><ng-include src="'/admin/app/includes/loading.html'"></ng-include></div>
		<form ng-if="form" novalidate name="formChamada">
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Chamada</h3>
			</div>
			<div class="panel-body">
				
				
				<div ng-if="form.Chamada.instituicao_id" class="form-group">
					<label class="control-label">Instituição</label>
					<div class="col-md-12 well">
						<p class="form-control-static">{{form.Instituicao.nome_fantasia}}</p>
					</div>
				</div>
				<div ng-if="form.Chamada.fornecedor_id" class="form-group">
					<label class="control-label">Fornecedor</label>
					<div class="col-md-12 well">
						<p class="form-control-static">{{form.Fornecedor.nome_fantasia}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formChamada.data_inicio.$invalid}">
							<label class="control-label">Data Início</label>
							<div class="col-md-12 well">
								<p class="form-control-static">{{form.Chamada.data_inicio | date:'dd/MM/yyyy HH:mm'}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formChamada.status_id.$invalid}">
							<label class="control-label">Status</label>
							<select ng-options="item.Status.id as item.Status.nome for item in related.Status" name="status_id" required class="form-control" ng-model="form.Chamada.status_id">
								<option value="">Selecione o Status</option>
							</select>
							<div class="help-block">&nbsp;
								<span ng-if="formChamada.status_id.$error.required">Campo requerido!</span>
							</div>
						</div>
						<!--
						<div class="form-group" ng-class="{'has-error':formChamada.data_fim.$invalid}">
							<label class="control-label">Data Fim</label>
							<input name="data_fim" ng-min="form.Chamada.data_inicio" class="form-control" type="datetime-local" ng-model="form.Chamada.data_fim">
							<div class="help-block">&nbsp;
								<span ng-if="formChamada.data_fim.$error.min">Não pode ser menor que a Data Início</span>
							</div>
						</div>
						-->
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formChamada.tipo_chamada_id.$invalid}">
							<label class="control-label">Tipo de Chamada</label>
							<select ng-options="item.TiposChamada.id as item.TiposChamada.nome for item in related.TiposChamadas" name="tipo_chamada_id" required class="form-control" ng-model="form.Chamada.tipo_chamada_id">
								<option value="">Selecione o Tipo de Chamada</option>
							</select>
							<div class="help-block">&nbsp;
								<span ng-if="formChamada.tipo_chamada_id.$error.required">Campo requerido!</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formChamada.assunto_id.$invalid}">
							<label class="control-label">Assunto</label>
							<select ng-options="item.Assunto.id as item.Assunto.nome for item in related.Assuntos" name="assunto_id" required class="form-control" ng-model="form.Chamada.assunto_id">
								<option value="">Selecione um Assunto</option>
							</select>
							<div class="help-block">&nbsp;
								<span ng-if="formChamada.assunto_id.$error.required">Campo requerido!</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formChamada.prioridade_id.$invalid}">
							<label class="control-label">Prioridade</label>
							<select ng-options="item.Prioridade.id as item.Prioridade.nome for item in related.Prioridades" name="prioridade_id" required class="form-control" ng-model="form.Chamada.prioridade_id">
								<option value="">Selecione a Prioridade</option>
							</select>
							<div class="help-block">&nbsp;
								<span ng-if="formChamada.prioridade_id.$error.required">Campo requerido!</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formChamada.projeto_id.$invalid}">
							<label class="control-label">Projeto</label>
							<p class="form-control-static">{{projeto_pai}}</p>
							<select ng-if="!chamada_pai" ng-options="item.Projeto.id as item.Projeto.nome for item in related.Projetos" name="projeto_id" required class="form-control" ng-model="form.Chamada.projeto_id">
								<option value="">Selecione o Projeto</option>
							</select>
							<div ng-if="!chamada_pai" class="help-block">&nbsp;
								<span ng-if="formChamada.projeto_id.$error.required">Campo requerido!</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group" ng-class="{'has-error':formChamada.solicitacao.$invalid}">
					<label class="control-label">Solicitação</label>
					<textarea rows="7" name="solicitacao" ng-minlength="10" required class="form-control" ng-model="form.Chamada.solicitacao">
					</textarea>
					<div class="help-block">&nbsp;
						<span ng-if="formChamada.solicitacao.$error.required">Campo requerido!</span>
						<span ng-if="formChamada.solicitacao.$error.minlength">Escreva pelo menos 10 caracteres!</span>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="btn-group pull-right">
					<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
					<button ng-disabled="formChamada.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
					<button ng-disabled="formChamada.$invalid" ng-click="saveFim()" class="btn btn-primary">Salvar e Finalizar</button>
				</div>
			</div>
		</div>
		</form>
	</div>
	<div class="col-md-6">
		<ng-include src="'/admin/app/chamada/dadoscontato.html'"></ng-include>
		<ng-include src="'/admin/app/chamada/historico.html'"></ng-include>
	</div>
</div>

