<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Fornecedor</h3>
	</div>
	<div class="panel-body">
	    <div class="form-group">
			<label class="control-label">Pesquise pelo nome</label>
			<input 
				type="text" 
				ng-model="FornecedorSelected" 
				typeahead-min-length="3" 
				typeahead-on-select="fornSelect($item)" 
				typeahead-editable="false" 
				typeahead="item.Fornecedor.nome_fantasia for item in typeForn($viewValue) | filter:$viewValue | limitTo:50" 
				class="form-control">
			<div class="help-block">&nbsp;
				<span>Digite parte do nome do Fornecedor</span>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button type="button" ng-click="toInst()" class="btn btn-default">Alterar para Instituição</button>
		</div>
	</div>
</div>
