<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">Histórico</h3>
	</div>
	<div ng-if="!form.Historico" class="panel-body">
		Escolha a Instituição ou o Fornecedor
	</div>
	<table ng-if="form.Historico" class="table">
		<tr>
			<th>Data</th>
			<th>Contato</th>
			<th>Solicitação</th>
			<th>Atendente</th>
		</tr>
		<tr ng-repeat="item in form.Historico">
			<td>{{item.Chamada.data_inicio | date:'dd/MM/yyyy'}}</td>
			<td>{{item.Contato.nome}}</td>
			<td>{{item.Chamada.solicitacao}}</td>
			<td>{{item.Atendente.nome}}</td>
		</tr>
	</table>
</div>
