<div class="page-header">
	<h3>{{pageTitle}}</h3>
</div>
<ng-include src="'/admin/app/chamada/filter.html'"></ng-include>
<div class="row">
	<div class="col-md-7">
		<ng-include ng-if="!emptyData" class="pull-left" src="'/admin/app/includes/pagination.html'"></ng-include>
	</div>
	<div class="col-md-5">
		<div class="btn-group pull-right" style="margin: 20px 0;">
			<a href="#/chamada/add/{{chamada_pai}}" tooltip="Adicionar" class="btn btn-default">
				<i class="fa fa-plus"></i>
			</a>
			<button ng-if="!emptyData" ng-click="changeType('panel')" tooltip="Paineis" class="btn btn-default">
				<i class="fa fa-th-large"></i>
			</button>
			<button ng-if="!emptyData" ng-click="changeType('table')" tooltip="Tabelas" class="btn btn-default">
				<i class="fa fa-table"></i>
			</button>
		</div>
	</div>
</div>

<ng-include ng-if="emptyData" src="'/admin/app/errors/emptyData.html'"></ng-include>
<ng-include ng-if="viewType=='panel'" src="'/admin/app/chamada/panelView.html'"></ng-include>
<ng-include ng-if="viewType=='table'" src="'/admin/app/chamada/tableView.html'"></ng-include>

