<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Instituição</h3>
	</div>
	<div class="panel-body">
		<div class="form-group">
			<label class="control-label">Pesquise pelo nome</label>
			<input 
				type="text" 
				ng-model="InstituicaoSelected" 
				typeahead-min-length="3" 
				typeahead-on-select="instSelect($item)" 
				typeahead-editable="false" 
				typeahead="item.Instituicao.nome_fantasia+' - '+item.Cidade.estado_id for item in typeInst($viewValue) | filter:$viewValue | limitTo:50" 
				class="form-control">
			<div class="help-block">&nbsp;
				<span>Digite parte do nome da Instituição</span>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button type="button" ng-click="toForn()" class="btn btn-default">Alterar para Fornecedor</button>
		</div>
	</div>
</div>
