<div ng-repeat="item in data" class="col-lg-4 col-md-6 col-xs-12 pull-left">
<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<span ng-if="item.Chamada.instituicao_id" class="panel-title">{{item.Instituicao.nome_fantasia}} - {{item.Instituicao.InstituicaoEndereco[0].Cidade.estado_id}}</span>
		<span ng-if="item.Chamada.fornecedor_id" class="panel-title">{{item.Fornecedor.nome_fantasia}} - {{item.Fornecedor.FornecedorEndereco[0].Cidade.estado_id}}</span>
		<span class="pull-right panel-title">{{item.Projeto.nome}}</span>
	</div>
	<div class="panel-body">
		<div class="clearfix">
			<span class="pull-left">
			{{item.Chamada.data_inicio || 'Sem Data Início' | date:'d/M/yyyy HH:mm' }}
			</span>
			<span class="pull-right">
			{{item.Chamada.data_fim || 'Sem Data Final' | date:'d/M/yyyy HH:mm' }}
			</span>
		</div>
		<hr>
		<div class="clearfix">
			<span class="pull-left">
			{{item.Assunto.nome}}
			</span>
			<span class="pull-right">
			{{item.Atendente.nome}}
			</span>
		</div>
		<hr>
		<div style="height: 100px; overflow: auto;">
			{{item.Chamada.solicitacao}}
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-group">
			<a tooltip="Editar" href="#/chamada/edit/{{item.Chamada.id}}" class="btn btn-sm btn-default">
				<i class="fa fa-edit fa-2x"></i>
			</a>
			<button tooltip="Excluir" ng-click="del(item)" class="btn btn-sm btn-default">
				<i class="fa fa-trash fa-2x"></i>
			</button>
			<button tooltip="Filhas" ng-click="filhas(item.Chamada.id)" class="btn btn-sm btn-default">
				<i class="fa fa-list fa-2x"></i>
				<span class="badge pull-right">{{item.Filhas.length}}</span>
			</button>
			<a tooltip="Procedimentos" href="#/chamada/{{item.Chamada.id}}/procedimento" class="btn btn-sm btn-default">
				<i class="fa fa-bars fa-2x"></i>
				<span class="badge pull-right">{{item.ChamadasProcedimento.length}}</span>
			</a>
			<button tooltip="Finalizar" ng-click="openModal(item)" class="btn btn-sm btn-default">
				<i class="fa fa-check fa-2x"></i>
			</button>
		</div>
	</div>
</div>
</div>

