<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/chamada">Chamadas</a></li>
		<li class="active">Procedimento</li>
	</ul>
	<div class="well well-sm">
		{{form.Chamada.data_inicio | date:'dd/MM/yyyy' }}
	</div>
</div>
<hr>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Procedimentos da Chamada</h3>
	</div>
	<div class="panel-body">
		<ng-include ng-if="data.length==0 && !noRecords" src="'/admin/app/includes/loading.html'"></ng-include>
		<ng-include ng-if="noRecords" src="'/admin/app/includes/norecords.html'"></ng-include>
	</div>
	
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Data</th>
			<th>Procedimento</th>
			<th>Descrição</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<div class="btn-group">
					<a class="btn btn-default" href="#/chamada/{{item.ChamadasProcedimento.chamada_id}}/procedimento/edit/{{item.ChamadasProcedimento.id}}"><i class="fa fa-2x fa-edit"></i></a>
					<a class="btn btn-default" ng-click="del(item)"><i class="fa fa-2x fa-trash"></i></a>
				</div>
			</td>
			<td>{{item.ChamadasProcedimento.data | date:'dd/MM/yyyy'}}</td>
			<td>{{item.Procedimento.nome}}</td>
			<td>{{item.ChamadasProcedimento.procedimento}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/chamada/{{chamada_id}}/procedimento/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
