<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/chamada">Chamadas</a></li>
		<li><a href="#/">Procedimentos</a>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm">
		{{Chamada.Chamada.data_inicio | date:'dd/MM/yyyy'}}
	</div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Procedimento da Chamada</h3>
	</div>
	<form ng-if="form" name="formChamadaProcedimento">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
				
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formChamadaProcedimento.procedimento_id.$invalid}">
					<label class="control-label">Procedimento</label>
					<select ng-change="chooseProcedimento()" ng-options="item.Procedimento.id as item.Procedimento.nome for item in related.Procedimentos" name="procedimento_id" required class="form-control" type="text" ng-model="form.ChamadasProcedimento.procedimento_id">
						<option value="">Escolha o Procedimento</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formChamadaProcedimento.procedimento_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formChamadaProcedimento.data.$invalid}">
					<label class="control-label">Data</label>
					<input class="form-control" type="date" ng-model="form.ChamadasProcedimento.data">
					<div class="help-block">&nbsp;
						<span ng-if="formChamadaProcedimento.procedimento_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" ng-class="{'has-error':formChamadaProcedimento.procedimento.$invalid}">
					<label class="control-label">Descrição</label>
					<textarea name="procedimento" required class="form-control" ng-model="form.ChamadasProcedimento.procedimento"></textarea>
					<div class="help-block">&nbsp;
						<span ng-if="formChamadaProcedimento.procedimento.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formChamadaProcedimento" type="submit" ng-disabled="formChamadaProcedimento.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
