<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Chamadas</h3>
	</div>
	<div ng-if="data.length==0" class="panel-body">
		<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<table ng-if="data.length>0" class="table table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Instituição</th>
			<th>UF</th>
			<th>Data Início</th>
			<th>Atendente</th>
			<th>Assunto</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<div class="btn-group">
				<a tooltip="Editar" href="#/chamada/edit/{{item.Chamada.id}}" class="btn btn-sm btn-default">
					<i class="fa fa-edit"></i>
				</a>
				<button tooltip="Excluir" ng-click="del(item)" class="btn btn-sm btn-default">
					<i class="fa fa-trash"></i>
				</button>
				<button tooltip="Filhas" ng-click="filhas(item.Chamada.id)" class="btn btn-sm btn-default">
					<i class="fa fa-list"></i>
					<span class="badge pull-right">{{item.Filhas.length}}</span>
				</button>
				<a tooltip="Procedimentos" href="#/chamada/{{item.Chamada.id}}/procedimento" class="btn btn-sm btn-default">
					<i class="fa fa-bars"></i>
					<span class="badge pull-right">{{item.ChamadasProcedimento.length}}</span>
				</a>
				<button tooltip="Finalizar" ng-click="openModal(item)" class="btn btn-sm btn-default">
					<i class="fa fa-check"></i>
				</button>
				</div>
			</td>
			<td><a href="#/chamada/edit/{{item.Chamada.id}}">{{item.Instituicao.nome_fantasia}}</a></td>
			<td ng-if="item.Chamada.instituicao_id">{{item.Instituicao.InstituicaoEndereco[0].Cidade.estado_id}}</td>
			<td ng-if="item.Chamada.fornecedor_id">{{item.Fornecedor.FornecedorEndereco[0].Cidade.estado_id}}</td>
			<td>{{item.Chamada.data_inicio | date: 'dd/MM/yyyy'}}</td>
			<td>{{item.Atendente.nome}}</td>
			<td>{{item.Assunto.nome}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a tooltip="Nova Chamada" href="#/chamada/add" class="btn btn-default">
				Adicionar
			</a>
		</div>
	</div>
</div>
