
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Estado</h3>
	</div>
	<form ng-if="form" name="formEstado">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>

		<div class="form-group" ng-class="{'has-error':formEstado.id.$invalid}">
			<label class="control-label">Sigla</label>
			<input name="id" ng-minlength="2" ng-maxlength="2" required class="form-control" type="text" ng-model="form.Estado.id">
			<div class="help-block">&nbsp;
				<span ng-if="formEstado.id.$error.minlength">Mínimo de dois caracteres!</span>
				<span ng-if="formEstado.id.$error.maxlength">Máximo de dois caracteres!</span>
				<span ng-if="formEstado.id.$error.required">Campo requerido!</span>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':formEstado.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.Estado.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formEstado.nome.$error.required">Campo requerido!</span>
			</div>
		</div>

		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formEstado" type="submit" ng-disabled="formEstado.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
