
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Edital</h3>
	</div>
	<form ng-if="form" name="formEdital">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formEdital.numero.$invalid}">
					<label class="control-label">Número</label>
					<input name="numero" required class="form-control" type="text" ng-model="form.Edital.numero">
					<div class="help-block">&nbsp;
						<span ng-if="formEdital.numero.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formEdital.ano.$invalid}">
					<label class="control-label">Ano</label>
					<input name="ano" required class="form-control" type="text" ng-model="form.Edital.ano">
					<div class="help-block">&nbsp;
						<span ng-if="formEdital.ano.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formEdital.orgao_id.$invalid}">
					<label class="control-label">Órgão</label>
					<select ng-options="item.Orgao.id as item.Orgao.nome for item in related.Orgaos" name="orgao_id" required class="form-control" ng-model="form.Edital.orgao_id">
						<option value="">Escolha o Órgão</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formEdital.orgao_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formEdital.projeto_id.$invalid}">
					<label class="control-label">Projeto</label>
					<select ng-options="item.Projeto.id as item.Projeto.nome for item in related.Projetos" name="projeto_id" required class="form-control" ng-model="form.Edital.projeto_id">
						<option value="">Escolha o Projeto</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formEdital.projeto_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formEdital" type="submit" ng-disabled="formEdital.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
