
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Tipo de Chamada</h3>
	</div>
	<form ng-if="form" name="formTipoChamada">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		
		<div class="form-group" ng-class="{'has-error':formTipoChamada.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.TiposChamada.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formTipoChamada.nome.$error.required">Campo requerido!</span>
			</div>
		</div>

	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formTipoChamada" type="submit" ng-disabled="formTipoChamada.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
