
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Atendente</h3>
	</div>
	<form ng-if="form" name="formAtendente">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		<div class="form-group" ng-class="{'has-error':formAtendente.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.Atendente.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formAtendente.nome.$error.required">Campo requerido!</span>
			</div>
		</div>
		<div class="form-group" ng-class="{'has-error':formAtendente.aniversario.$invalid}">
			<label class="control-label">Aniversário</label>
			<input name="aniversario" required class="form-control" type="datetime-local" ng-model="form.Atendente.aniversario">
			<div class="help-block">&nbsp;
				<span ng-if="formAtendente.aniversario.$error.required">Campo requerido!</span>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formAtendente" type="submit" ng-disabled="formAtendente.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
