
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Convênio</h3>
	</div>
	<form ng-if="form" name="formConvenio">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formConvenio.data_publicacao.$invalid}">
					<label class="control-label">Publicação</label>
					<input name="data_publicacao" required class="form-control" type="date" ng-model="form.Convenio.data_publicacao">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.data_publicacao.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formConvenio.num_convenio.$invalid}">
					<label class="control-label">Número</label>
					<input name="num_convenio" required class="form-control" type="text" ng-model="form.Convenio.num_convenio">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.num_convenio.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formConvenio.orgao_id.$invalid}">
					<label class="control-label">Órgão</label>
					<select ng-options="item.Orgao.id as item.Orgao.nome for item in related.Orgaos" name="orgao_id" required class="form-control" ng-model="form.Convenio.orgao_id">
						<option value="">Escolha o Edital</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.edital_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formConvenio.instituicao_id.$invalid}">
					<label class="control-label">Instituição</label>
					<select ng-options="item.Instituicao.id as item.Instituicao.nome_fantasia for item in related.Instituicoes" name="instituicao_id" required class="form-control" ng-model="form.Convenio.instituicao_id">
						<option value="">Escolha a Instituicao</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.instituicao_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formConvenio.edital_id.$invalid}">
					<label class="control-label">Edital</label>
					<select ng-options="item.Edital.id as item.Edital.numero for item in related.Editais" name="edital_id" required class="form-control" ng-model="form.Convenio.edital_id">
						<option value="">Escolha o Edital</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.edital_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formConvenio.tipo_convenio_id.$invalid}">
					<label class="control-label">Tipo</label>
					<select ng-options="item.TiposConvenio.id as item.TiposConvenio.nome for item in related.TipoConvenios" name="tipo_convenio_id" required class="form-control" ng-model="form.Convenio.tipo_convenio_id">
						<option value="">Escolha o Tipo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.tipo_convenio_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formConvenio.encargo_fnde.$invalid}">
					<label class="control-label">Encargo FNDE</label>
					<input name="encargo_fnde" required class="form-control" type="text" ng-model="form.Convenio.encargo_fnde">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.encargo_fnde.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formConvenio.valor_total.$invalid}">
					<label class="control-label">Valor Total</label>
					<input name="valor_total" required class="form-control" type="text" ng-model="form.Convenio.valor_total">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.valor_total.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formConvenio.pagina.$invalid}">
					<label class="control-label">Página</label>
					<input name="pagina" required class="form-control" type="text" ng-model="form.Convenio.pagina">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.pagina.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formConvenio.secao.$invalid}">
					<label class="control-label">Seção</label>
					<input name="secao" required class="form-control" type="text" ng-model="form.Convenio.secao">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.secao.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formConvenio.contrapartida.$invalid}">
					<label class="control-label">Contrapartida</label>
					<input name="contrapartida" class="form-control" type="text" ng-model="form.Convenio.contrapartida">
					<div class="help-block">&nbsp;
						<span ng-if="formConvenio.contrapartida.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formConvenio" type="submit" ng-disabled="formConvenio.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
