<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Convênios</h3>
	</div>
	<div ng-if="data.length==0" class="panel-body">
		<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-hover">
		<tr class="active">
			<th class="col-md-1">&nbsp;</th>
			<th>Publicação</th>
			<th>Valor</th>
			<th>Convênio</th>
			<th>Tipo</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<div class="btn-group">
				<a href="#/convenio/edit/{{item.Convenio.id}}" class="btn btn-default">
					<i class="fa fa-2x fa-edit"></i>
				</a>
				<button ng-click="del(item)" class="btn btn-default">
					<i class="fa fa-2x fa-trash"></i>
				</button>
				</div>
			</td>
			<td>{{item.Convenio.data_publicacao | date:'dd/MM/yyyy'}}</td>
			<td>{{item.Convenio.valor_total}}</td>
			<td>{{item.Convenio.num_convenio}}</td>
			<td>{{item.TiposConvenio.nome}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/convenio/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
