
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Assunto</h3>
	</div>
	<form ng-if="form" name="formAssunto">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
			<div class="form-group" ng-class="{'has-error':formAssunto.nome.$invalid}">
				<label class="control-label">Nome</label>
				<input name="nome" required class="form-control" type="text" ng-model="form.Assunto.nome">
				<div class="help-block">&nbsp;
					<span ng-if="formAssunto.nome.$error.required">Campo requerido!</span>
				</div>
			</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formAssunto" type="submit" ng-disabled="formAssunto.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
