
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Cidade</h3>
	</div>
	<form ng-if="form" name="formCidade">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>

		<div class="form-group" ng-class="{'has-error':formCidade.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.Cidade.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formCidade.nome.$error.required">Campo requerido!</span>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':formCidade.estado_id.$invalid}">
			<label class="control-label">Estado</label>
			<select ng-options="item.Estado.id as item.Estado.nome for item in related.Estados" name="estado_id" required class="form-control" ng-model="form.Cidade.estado_id">
				<option value="">Escolha o Estado</option>
			</select>
			<div class="help-block">&nbsp;
				<span ng-if="formCidade.estado_id.$error.required">Campo requerido!</span>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':formCidade.codigo_ibge.$invalid}">
			<label class="control-label">IBGE</label>
			<input name="codigo_ibge" required class="form-control" type="text" ng-model="form.Cidade.codigo_ibge">
			<div class="help-block">&nbsp;
				<span ng-if="formCidade.codigo_ibge.$error.required">Campo requerido!</span>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':formCidade.Prefeito.$invalid}">
			<label class="control-label">Prefeito</label>
			<input name="Prefeito" required class="form-control" type="text" ng-model="form.Cidade.Prefeito">
			<div class="help-block">&nbsp;
				<span ng-if="formCidade.Prefeito.$error.required">Campo requerido!</span>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formCidade" type="submit" ng-disabled="formCidade.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
