<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/contato">Contatos</a></li>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm">
		{{form.Contato.nome}}
	</div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Contato</h3>
	</div>
	<form ng-if="form" name="formContato">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		
		<div ng-if="form.Contato.id">
			<div class="btn-group">
				<a href="#/contato/edit/{{form.Contato.id}}" class="btn btn-default active disabled">Dados</a>
				<a href="#/contato/edit/{{form.Contato.id}}/telefone" class="btn btn-default">Telefones</a>
				<a href="#/contato/edit/{{form.Contato.id}}/email" class="btn btn-default">Emails</a>
				<a href="#/contato/edit/{{form.Contato.id}}/endereco" class="btn btn-default">Endereços</a>
			</div>
		</div>
		
		<div class="page-header"><h3>Dados</h3></div>
		
		<div class="form-group" ng-class="{'has-error':formContato.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.Contato.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formContato.nome.$error.required">Campo requerido!</span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContato.sexo_id.$invalid}">
					<label class="control-label">Sexo</label>
					<select ng-options="item.Sexo.id as item.Sexo.nome for item in related.Sexos" name="sexo_id" required class="form-control" ng-model="form.Contato.sexo_id">
						<option value="">Escolha o Sexo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContato.sexo_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContato.situacao_contato_id.$invalid}">
					<label class="control-label">Situação</label>
					<select ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacaoContatos" name="situacao_contato_id" required class="form-control" ng-model="form.Contato.situacao_contato_id">
						<option value="">Escolha a Situação</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContato.situacao_contato_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContato.cpf.$invalid}">
					<label class="control-label">CPF</label>
					<input name="cpf" class="form-control" type="text" ng-model="form.Contato.cpf">
					<div class="help-block">&nbsp;
						<span ng-if="formContato.cpf.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContato.data_nascimento.$invalid}">
					<label class="control-label">Nascimento</label>
					<input name="data_nascimento" class="form-control" type="date" ng-model="form.Contato.data_nascimento">
					<div class="help-block">&nbsp;
						<span ng-if="formContato.data_nascimento.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formContato" type="submit" ng-disabled="formContato.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
