<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li class="active">Contatos</li>
	</ul>
</div>
<hr>

<div class="row">
	<div class="col-md-8">
		<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>
	</div>
	<div class="col-md-4">
		<div class="input-group" style="margin-top:20px;">
      		<input type="text" ng-model="busca.nome" class="form-control" placeholder="Nome do contato">
      		<span class="input-group-btn">
        		<button ng-click="pesquisar()" class="btn btn-default" type="button">Pesquisar</button>
       			<button ng-click="zerar()" class="btn btn-default" type="button">Zerar</button> 
      		</span>
    	</div>
	</div>
</div>
<hr>
<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Contatos</h3>
	</div>
	<div ng-if="data.length==0 && !norecords" class="panel-body">
		<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<div ng-if="norecords" class="panel-body">
		<ng-include src="'/admin/app/includes/norecords.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Nome</th>
			<th>Instituição/Fornecedor</th>
			<th>Nascimento</th>
			<th>CPF</th>
			<th>Situação</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<ng-include src="'/admin/app/includes/recordActions.html'"></ng-include>
			</td>
			<td>{{item.Contato.nome}}</td>
			<td>
				<span ng-if="item.ContatosInstituicao.length == 0"><span ng-if="item.ContatosFornecedor.length == 0">Nenhum</span></span>
				<span ng-if="item.ContatosInstituicao.length > 0">{{item.ContatosInstituicao[0].Instituicao.nome_fantasia}}</span>
				<span ng-if="item.ContatosInstituicao.length > 0"><span ng-if="item.ContatosFornecedor.length > 0"> - </span></span>
				<span ng-if="item.ContatosFornecedor.length > 0">{{item.ContatosFornecedor[0].Fornecedor.nome_fantasia}}</span>
			</td>
			<td>{{item.Contato.data_nascimento | date:'dd/MM/yyyy'}}</td>
			<td>{{item.Contato.cpf || '--x--'}}</td>
			<td>{{item.SituacoesContato.nome}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/contato/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
