<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/contato">Contatos</a></li>
		<li class="active">Telefones</li>
	</ul>
	<div class="well well-sm">
		{{form.Contato.nome}}
	</div>
</div>
<hr>
<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Telefones de Contato</h3>
	</div>
	<div class="panel-body">
		<div>
			<div class="btn-group">
				<a href="#/contato/edit/{{form.Contato.id}}" class="btn btn-default">Dados</a>
				<a href="" class="btn btn-default disabled">Telefones</a>
				<a href="#/contato/edit/{{form.Contato.id}}/email" class="btn btn-default">Emails</a>
				<a href="#/contato/edit/{{form.Contato.id}}/endereco" class="btn btn-default">Endereços</a>
			</div>
		</div>
		<hr>
		<ng-include ng-if="data.length==0 && !noRecords" src="'/admin/app/includes/loading.html'"></ng-include>
		<ng-include ng-if="noRecords" src="'/admin/app/includes/norecords.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Tipo</th>
			<th>Número</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<a class="btn btn-default" href="#/contato/edit/{{item.ContatosFone.contato_id}}/telefone/edit/{{item.ContatosFone.id}}"><i class="fa fa-2x fa-edit"></i></a>
				&nbsp;
				<a class="btn btn-default" ng-click="del(item)"><i class="fa fa-2x fa-trash"></i></a>
			</td>
			<td>{{item.TiposFone.nome}}</td>
			<td>{{item.ContatosFone.fone}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/contato/edit/{{contato_id}}/telefone/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
