<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/contato">Contatos</a></li>
		<li><a href="#/">Telefones</a>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm">
		{{form.Contato.nome}}
	</div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Telefone do Contato</h3>
	</div>
	<form ng-if="form" name="formContatoFone">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
				
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoFone.fone.$invalid}">
					<label class="control-label">Tipo</label>
					<select ng-options="item.TiposFone.id as item.TiposFone.nome for item in related.TipoFones" name="tipo_fone_id" required class="form-control" type="text" ng-model="form.ContatosFone.tipo_fone_id">
						<option value="">Escolha o Tipo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContatoFone.fone.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoFone.fone.$invalid}">
					<label class="control-label">Telefone</label>
					<input name="fone" required class="form-control" type="text" ng-model="form.ContatosFone.fone">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoFone.fone.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formContatoFone" type="submit" ng-disabled="formContatoFone.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
