<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/instituicao">Instituições</a></li>
		<li><a href="#/">Contato</a>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm">
		{{Instituicao.Instituicao.nome_fantasia}}
	</div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Contato da Instituição</h3>
	</div>
	<form ng-if="form" name="formContatoInstituicao">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
				
		<div class="row">
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formContatoInstituicao.situacao_contato_id.$invalid}">
					<label class="control-label">Situação</label>
					<select ng-options="item.SituacoesContato.id as item.SituacoesContato.nome for item in related.SituacaoContatos" name="situacao_contato_id" required class="form-control" type="text" ng-model="form.ContatosInstituicao.situacao_contato_id">
						<option value="">Escolha a Situação</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContatoInstituicao.situacao_contato_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formContatoInstituicao.cargo_id.$invalid}">
					<label class="control-label">Cargo</label>
					<select ng-options="item.Cargo.id as item.Cargo.nome for item in related.Cargos" name="cargo_id" required class="form-control" type="text" ng-model="form.ContatosInstituicao.cargo_id">
						<option value="">Escolha o Cargo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContatoInstituicao.cargo_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Pesquisar Contato</label>
					<div class="input-group">
						<input name="nome" class="form-control" type="text" ng-model="busca.nome">
						<span class="input-group-btn">
        					<button ng-click="buscaContato()" class="btn btn-default" type="button">Buscar</button>
      					</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formContatoInstituicao.contato_id.$invalid}">
					<label class="control-label">Contato</label>
					<select ng-options="item.Contato.id as item.Contato.nome for item in related.Contatos" name="contato_id" required class="form-control" type="text" ng-model="form.ContatosInstituicao.contato_id">
						<option value="">Escolha o Contato</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContatoInstituicao.contato_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoInstituicao.data_inicio.$invalid}">
					<label class="control-label">Data Início</label>
					<input name="data_inicio" ng-model="form.ContatosInstituicao.data_inicio" required type="date" class="form-control">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoInstituicao.data_inicio.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Data Fim</label>
					<input name="data_fim" ng-model="form.ContatosInstituicao.data_fim" type="date" class="form-control">
					<div class="help-block">&nbsp;
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formContatoInstituicao" type="submit" ng-disabled="formContatoInstituicao.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
