<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/instituicao">Instituição</a></li>
		<li class="active">Endereços</li>
	</ul>
	<div class="well well-sm">
		{{Instituicao.Instituicao.nome_fantasia}}
	</div>
</div>
<hr>
<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Endereços da Instituicao</h3>
	</div>
	<div class="panel-body" ng-if="norecords">
		<ng-include src="'/admin/app/includes/norecords.html'"></ng-include>
	</div>
	<div class="panel-body" ng-if="!norecords">
		<div>
			<div class="btn-group">
				<a href="#/instituicao/edit/{{form.Instituicao.id}}" class="btn btn-default">Dados</a>
				<a href="#/instituicao/edit/{{form.Instituicao.id}}/contatos" class="btn btn-default">Contatos</a>
				<a href="#/instituicao/edit/{{form.Instituicao.id}}/enderecos" class="btn btn-default active disabled">Endereços</a>
			</div>
		</div>
		<ng-include ng-if="data.length==0 && !norecords" src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Endereço</th>
			<th>Cidade</th>
			<th>UF</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<a class="btn btn-default" ng-click="edit(item)"><i class="fa fa-2x fa-pencil"></i></a>
				<a class="btn btn-default" ng-click="del(item)"><i class="fa fa-2x fa-trash"></i></a>
			</td>
			<td>{{item.InstituicaoEndereco.logradouro}} {{item.InstituicaoEndereco.numero_apt}}</td>
			<td>{{item.Cidade.nome}}</td>
			<td>{{item.Cidade.estado_id}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/instituicao/edit/{{instituicao_id}}/enderecos/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
