<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/instituicao">Instituições</a></li>
		<li class="active">Formulário</li>
	</ul>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Instituicao</h3>
	</div>
	<form ng-if="form" novalidate name="formInstituicao">
	<div class="panel-body">

		<div>
			<div class="btn-group">
				<a href="#/instituicao/edit/{{form.Instituicao.id}}" class="btn btn-default active disabled">Dados</a>
				<a ng-if="isEdit" href="#/instituicao/edit/{{form.Instituicao.id}}/contatos" class="btn btn-default">Contatos</a>
				<a ng-if="isEdit" href="#/instituicao/edit/{{form.Instituicao.id}}/enderecos" class="btn btn-default">Endereços</a>
			</div>
		</div>

		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>

		<div class="page-header"><h3>Dados</h3></div>
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formInstituicao.razao_social.$invalid}">
					<label class="control-label">Razão Social</label>
					<input name="razao_social" required class="form-control" type="text" ng-model="form.Instituicao.razao_social">
					<div class="help-block">&nbsp;
						<span ng-if="formInstituicao.razao_social.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formInstituicao.nome_fantasia.$invalid}">
					<label class="control-label">Nome Fantasia</label>
					<input name="nome_fantasia" required class="form-control" type="text" ng-model="form.Instituicao.nome_fantasia">
					<div class="help-block">&nbsp;
						<span ng-if="formInstituicao.nome_fantasia.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formInstituicao.tipo_instituicao_id.$invalid}">
					<label class="control-label">Tipo</label>
					<select class="form-control" ng-options="item.TiposInstituicao.id as item.TiposInstituicao.nome for item in related.TiposInstituicoes" name="tipo_instituicao_id" ng-model="form.Instituicao.tipo_instituicao_id">
						<option value="">Selecione o Tipo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formInstituicao.tipo_instituicao_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formInstituicao.inscricao_estadual.$invalid}">
					<label class="control-label">Inscrição Estadual</label>
					<input name="inscricao_estadual" required class="form-control" type="text" ng-model="form.Instituicao.inscricao_estadual">
					<div class="help-block">&nbsp;
						<span ng-if="formInstituicao.inscricao_estadual.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formInstituicao.cnpj.$invalid}">
					<label class="control-label">CNPJ</label>
					<input name="cnpj" required class="form-control" type="text" ng-model="form.Instituicao.cnpj">
					<div class="help-block">&nbsp;
						<span ng-if="formInstituicao.cnpj.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formInstituicao" type="submit" ng-disabled="formInstituicao.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
			<button form="formInstituicao" type="submit" ng-disabled="formInstituicao.$invalid" ng-click="saveAddContato()" class="btn btn-primary">Salvar e Adic. Contato</button>
		</div>
	</div>
	</form>
</div>
