
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Item</h3>
	</div>
	<form ng-if="form" name="formItem">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>

		<div class="form-group" ng-class="{'has-error':formItem.nome.$invalid}">
			<label class="control-label">Nome</label>
			<input name="nome" required class="form-control" type="text" ng-model="form.Item.nome">
			<div class="help-block">&nbsp;
				<span ng-if="formItem.nome.$error.required">Campo requerido!</span>
			</div>
		</div>
		
		<div class="form-group" ng-class="{'has-error':formItem.valor.$invalid}">
			<label class="control-label">Valor</label>
			<input name="valor" required class="form-control" type="number" ng-model="form.Item.valor">
			<div class="help-block">&nbsp;
				<span ng-if="formItem.valor.$error.required">Campo requerido!</span>
				<span ng-if="formItem.valor.$error.number">Precisa ser um número!</span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formEdital.ata_preco_id.$invalid}">
					<label class="control-label">Ata de Preço</label>
					<select ng-options="item.AtaPreco.id as item.AtaPreco.nome for item in related.AtaPrecos" name="ata_preco_id" required class="form-control" ng-model="form.Item.ata_preco_id">
						<option value="">Escolha a Ata de Preço</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formEdital.ata_preco_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formEdital.fornecedor_id.$invalid}">
					<label class="control-label">Fornecedor</label>
					<select ng-options="item.Fornecedor.id as item.Fornecedor.nome_fantasia for item in related.Fornecedores" name="fornecedor_id" required class="form-control" ng-model="form.Item.fornecedor_id">
						<option value="">Escolha o Fornecedor</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formEdital.fornecedor_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>

		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formItem" type="submit" ng-disabled="formItem.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
