<div class="page-header">
	<h3>Home - Caritas</h3>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Chamadas em Aberto</h4>
			</div>
		</div>
		<div ng-if="!ChamadasAbertas" class="panel-body">
			<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
		</div>
		<table class="table">
			<tr>
				<th>&nbsp;</th>
				<th>Data</th>
				<th>Instituição/Fornecedor</th>
				<th>Assunto</th>
				<th>Contato</th>
			</tr>
			<tr ng-repeat="item in ChamadasAbertas">
				<td>
					<div class="btn-group">
						<a tooltip="Editar" href="#/chamada/edit/{{item.Chamada.id}}" class="btn btn-sm btn-default">
							<i class="fa fa-2x fa-edit"></i>
						</a>
					</div>
				</td>
				<td>{{item.Chamada.data_inicio | date:'dd/MM/yyyy'}}</td>
				<td>{{item.Instituicao.nome_fantasia || item.Fornecedor.nome_fantasia}}</td>
				<td>{{item.Assunto.nome}}</td>
				<td>{{item.Contato.nome}}</td>
			</tr>
		</table>
	</div>
</div>
