<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/fornecedor">Fornecedores</a></li>
		<li class="active">Contatos</li>
	</ul>
	<div class="well well-sm">
		{{form.Fornecedor.nome_fantasia}}
	</div>
</div>
<hr>
<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Contatos do Fornecedor</h3>
	</div>
	<div class="panel-body">
		<div>
			<div class="btn-group">
				<a href="#/fornecedor/edit/{{form.Fornecedor.id}}" class="btn btn-default">Dados</a>
				<a href="#/fornecedor/edit/{{form.Fornecedor.id}}/contatos" class="btn btn-default active disabled">Contatos</a>
			</div>
		</div>
		<hr>
		<ng-include ng-if="data.length==0 && !noRecords" src="'/admin/app/includes/loading.html'"></ng-include>		
		<ng-include ng-if="noRecords" src="'/admin/app/includes/norecords.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Nome</th>
			<th>Situação</th>
			<th>Início</th>
			<th>Fim</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<a class="btn btn-default" ng-click="edit(item)"><i class="fa fa-2x fa-pencil"></i></a>
				<a class="btn btn-default" ng-click="del(item)"><i class="fa fa-2x fa-trash"></i></a>
			</td>
			<td>{{item.Contato.nome}}</td>
			<td>{{item.SituacoesContato.nome}}</td>
			<td>{{item.ContatosFornecedor.data_inicio|date}}</td>
			<td>{{item.ContatosFornecedor.data_fim|date}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/fornecedor/edit/{{fornecedor_id}}/contatos/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
