<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/fornecedor">Fornecedores</a></li>
		<li><a href="#/">Endereço</a>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm">
		{{Fornecedor.Fornecedor.nome_fantasia}}
	</div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Endereço do Fornecedor</h3>
	</div>
	<form ng-if="Form" name="formFornecedorEndereco" novalidate="novalidate">
	<div class="panel-body">
		<ng-include ng-if="!Form" src="'/admin/app/includes/loading.html'"></ng-include>
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.cep.$invalid}">
					<label class="control-label">CEP</label>	
					<div class="input-group">
						<input name="cep" ui-br-cep-mask ng-model="Form.FornecedorEndereco.cep" type="text" class="form-control" placeholder="Digite o CEP...">
						<span class="input-group-btn">
							<button ng-click="buscaCEP()" class="btn btn-default" type="button">Buscar por CEP</button>
						</span>
	    			</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.logradouro.$invalid}">
					<label class="control-label">Lougradouro</label>
					<input name="logradouro" ng-model="Form.FornecedorEndereco.logradouro" required type="text" class="form-control">
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedorEndereco.logradouro.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.numero_apt.$invalid}">
					<label class="control-label">Número/Apartamento</label>
					<input ui-number-mask="0" name="numero_apt" ng-model="Form.FornecedorEndereco.numero_apt" type="text" class="form-control">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.tipo_endereco_id.$invalid}">
					<label class="control-label">Tipo</label>
					<select ng-options="item.TiposEndereco.id as item.TiposEndereco.nome for item in TiposEnderecos" name="tipo_endereco_id" required class="form-control" type="text" ng-model="Form.FornecedorEndereco.tipo_endereco_id">
						<option value="">Escolha a Tipo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedorEndereco.tipo_endereco_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Pesquisar Cidade</label>
					<div class="input-group">
						<input name="nome" class="form-control" type="text" ng-model="busca.nome">
						<span class="input-group-btn">
        					<button ng-click="buscaCidade()" class="btn btn-default" type="button">Buscar</button>
      					</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.cidade_id.$invalid}">
					<label class="control-label">Cidade</label>
					<select ng-options="item.Cidade.id as item.Cidade.nome for item in related.Cidades" name="cidade_id" required class="form-control" type="text" ng-model="Form.FornecedorEndereco.cidade_id">
						<option value="">Escolha a Cidade</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedorEndereco.cidade_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.bairro.$invalid}">
					<label class="control-label">Bairro</label>
					<input name="bairro" ng-model="Form.FornecedorEndereco.bairro" required type="text" class="form-control">
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedorEndereco.bairro.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group" ng-class="{'has-error':formFornecedorEndereco.complemento.$invalid}">
					<label class="control-label">Complemento</label>
					<input name="complemento" ng-model="Form.FornecedorEndereco.complemento" type="text" class="form-control">
					<div class="help-block">&nbsp;
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formFornecedorEndereco" type="submit" ng-disabled="formFornecedorEndereco.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
