<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/fornecedor">Fornecedores</a></li>
		<li class="active">Formulário</li>
	</ul>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Fornecedor</h3>
	</div>
	<form ng-if="form" name="formFornecedor">
	<div class="panel-body">
		
		<div>
			<div class="btn-group">
				<a href="#/fornecedor/edit/{{form.Fornecedor.id}}" class="btn btn-default active disabled">Dados</a>
				<a ng-if="isEdit" href="#/fornecedor/edit/{{form.Fornecedor.id}}/contatos" class="btn btn-default">Contatos</a>
				<a ng-if="isEdit" href="#/fornecedor/edit/{{form.Fornecedor.id}}/enderecos" class="btn btn-default">Endereços</a>
			</div>
		</div>
		<ng-include ng-if="data.length==0" src="'/admin/app/includes/loading.html'"></ng-include>

		<div class="page-header"><h3>Dados</h3></div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formFornecedor.razao_social.$invalid}">
					<label class="control-label">Razão Social</label>
					<input name="razao_social" required class="form-control" type="text" ng-model="form.Fornecedor.razao_social">
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedor.razao_social.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formFornecedor.nome_fantasia.$invalid}">
					<label class="control-label">Nome Fantasia</label>
					<input name="nome_fantasia" required class="form-control" type="text" ng-model="form.Fornecedor.nome_fantasia">
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedor.nome_fantasia.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formFornecedor.inscricao_estadual.$invalid}">
					<label class="control-label">Inscrição Estadual</label>
					<input name="inscricao_estadual" required class="form-control" type="text" ng-model="form.Fornecedor.inscricao_estadual">
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedor.inscricao_estadual.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formFornecedor.cnpj.$invalid}">
					<label class="control-label">CNPJ</label>
					<input name="cnpj" required class="form-control" type="text" ng-model="form.Fornecedor.cnpj">
					<div class="help-block">&nbsp;
						<span ng-if="formFornecedor.cnpj.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formFornecedor" type="submit" ng-disabled="formFornecedor.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
