<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li class="active">Fornecedores</li>
	</ul>
</div>

<div class="row">
	<div class="col-md-8">
		<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>
	</div>
	<div class="col-md-4">
		<div class="input-group" style="margin-top:20px;">
      		<input type="text" ng-model="busca.nome" class="form-control" placeholder="Nome do Fornecedor">
      		<span class="input-group-btn">
        		<button ng-click="pesquisar()" class="btn btn-default" type="button">Pesquisar</button>
       			<button ng-click="zerar()" class="btn btn-default" type="button">Zerar</button> 
      		</span>
    	</div>
	</div>
</div>
<hr>
<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Fornecedores</h3>
	</div>
	<div ng-if="loading" class="panel-body">
		<ng-include src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<div ng-if="norecords" class="panel-body">
		<ng-include src="'/admin/app/includes/norecords.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Nome</th>
			<th>Inscrição Estadual</th>
			<th>CNPJ</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<ng-include src="'/admin/app/includes/recordActions.html'"></ng-include>
			</td>
			<td>{{item.Fornecedor.nome_fantasia}}</td>
			<td>{{item.Fornecedor.inscricao_estadual}}</td>
			<td>{{item.Fornecedor.cnpj}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/fornecedor/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
